<div>
    <h2>{{name}}</h2>
    <h2>{{phoneNumber}}</h2>

    <form>
        <h2>Rent Payment</h2>
        <div class="form-control">
            <label for="">Property Id </label>
            <input type="number" value="{{propertyId}}" readonly>
        </div>
        <div class="form-control">
            <label for="">tenant Id</label>
            <input type="number" value="{{id}}">
        </div>
        <div class="form-control">
            <label for="">Amount</label>
            <input [(ngModel)]="amount" name="amount" type="number">
        </div>
        <div class="form-control">
            <label for="">Paid By</label>
            <input [(ngModel)]="paidby" name="paidby" type="text">
        </div>

        <button (click)="save()">Save</button>
    </form>


</div>
