<div>
    <div class="details">
        <h2>Tenant Name: {{name}}</h2>
        <h6>Phone Number: {{phoneNumber}}</h6>

    </div>


    <form class="form">
        <h2>Rent Payment</h2>
        <div class="form-field">
            <label for="">Property Id </label>
            <input  class="form-field" type="number" value="{{propertyId}}" readonly>
        </div>
        <div class="form-field">
            <label for="">tenant Id</label>
            <input  class="form-field" type="number" value="{{id}}">
        </div>
        <div class="form-control">
            <label for="">Amount</label>
            <input  class="form-field" [(ngModel)]="amount" name="amount" type="number">
        </div>
        <div class="form-control">
            <label for="">Paid By</label>
            <input  class="form-field" [(ngModel)]="paidby" name="paidby" type="text">
        </div>

        <button (click)="save()">Save</button>
    </form>


</div>