



<div class="form">
    <h2 class="text-center text-success">List of Rental Property</h2>

    <table class="table table-striped">
        <thead>
            <th>Property Name</th>
            <th>Property details</th>
        </thead>
        <tbody>
            <tr *ngFor="let property of properties">
                <td>{{property.name}}</td>
                <td> <a [routerLink]="['property', property]">view details</a></td>

            </tr>
        </tbody>
    </table>
    <a href="properties/new">Add new property</a>

</div>