
<form #myForm="ngForm" class="form">
    <h3>Add new Tenant</h3>

    <div class="formfield">
        <label class="form-label" for="tenant-name">PropertyId</label>
        <input id="tenant-name" type="number" name="propertyId" readonly value="{{propertyId}}">
    </div>

    <div class="formfield">
        <label class="form-label" for="tenant-name">Name</label>
        <input id="tenant-name" [(ngModel)]="name" name="name" type="text">
    </div>

    <div class="formfield">
        <label class="form-label" for="tenant-name">Phone Number:</label>
        <input id="tenant-name" [(ngModel)]="phoneNumber"  name="phoneNumber" type="text">
    </div>
    <button (click)="submit()">Submit</button>
</form>
