
<form #myForm="ngForm" class="form">
    <h3 class="text-center">Add new Tenant</h3>

    <div class="form-group">
        <label class="form-label" for="tenant-name">PropertyId</label>
        <input class="form-control" id="tenant-name" type="number" name="propertyId" readonly value="{{propertyId}}">
    </div>

    <div class="form-group">
        <label class="form-label" for="tenant-name">Name</label>
        <input class="form-control" id="tenant-name" [(ngModel)]="name" name="name" type="text">
    </div>

    <div class="form-group">
        <label class="form-label" for="tenant-name">Phone Number:</label>
        <input class="form-control" id="tenant-name" [(ngModel)]="phoneNumber"  name="phoneNumber" type="text">
    </div>
    <div class="btns">
        <button class="form-control btn btn-outline-success" (click)="submit()">Submit</button>
    </div>
  
</form>
